body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}



input {
    padding: 10px;
    margin: 10px;
}

button {
    padding: 10px;
    margin: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

p {
    margin: 10px;
}

.error {
    color: red;
}

input.error {
    border: 1px solid red;
}
